.content {
    padding-top: 15px;
    margin-top: 15px;
}

.card-block {
    padding: 5px;
    color: #555;
    font-size: 14px;
    background: #efefef;
}

.card-block > h4 {
    font-size: 1rem;
}

.navbar {
    padding: .5rem 10rem;
    background: #800080;
}
